@page "/aboutrazor.html"
@{
    Layout = "_Layout";
}

<h1>Giới thiệu về Razor</h1>
<p>
    Razor là một template engine trong .NET, là TEMPLATE ENGINE mặc định của ASP.NET MVC, có chức năng render (dựng) HTML từ các view (.cshtml). View (.csthml) cho phép viết HTML và nhúng code C#.
</p>